<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Słów</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
</head>
<body>
    <h1>Quiz Słów</h1>
    <script src="/static/js/script.js"></script>
    <button onclick="startQuiz()">Start</button>
    <button id="end-btn" style="display: none;" onclick="endQuiz()">Zakończ Quiz</button>
    <div id="quiz"></div>
    <div id="results"></div>
</body>
</html>
