<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rozpoznawanie Języka</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <h1>Rozpoznawanie Języka</h1>
  <script src="/static/js/script.js"></script>
  <textarea id="textInput" placeholder="Wprowadź zdanie..."></textarea>
  <br>
  <button onclick="detectLanguage()">Sprawdź</button>
  <h2 id="result"></h2>
  <h2 id="error" style="color: red;"></h2>
  <a href="{{ url_for('home') }}" class="back-button">Powrót</a>
</body>
</html>
