<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel użytkownika</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Witaj, {{ username }}!</h1>
    <a href="{{ url_for('quiz_page') }}">Rozpocznij quiz</a> |
    <a href="{{ url_for('quiz_history') }}">Historia quizów</a> |
    <a href="{{ url_for('words_page') }}">Lista słów</a> |
    <a href="{{ url_for('saved_words_page') }}">Zapisane słowa</a> |
    <a href="{{ url_for('logout') }}">Wyloguj</a>
</body>
</html>