<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zapisane Słowa</title>
    <link rel="stylesheet" href="/static/css/saved_words.css">
    <script>
        async function deleteWord(wordId) {
            const response = await fetch('/delete_word', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ word_id: wordId })
            });

            const result = await response.json();
            if (response.ok) {
                location.reload(); 
            } else {
                alert(result.error);
            }
        }


        async function startSavedWordsQuiz() {
        const response = await fetch('/get_saved_words');
        const words = await response.json();
        
        if (words.length === 0) {
            alert("Brak zapisanych słów do quizu.");
            return;
        }

        sessionStorage.setItem('quizWords', JSON.stringify(words));
        window.location.href = "/quiz?saved=true";
        }


    </script>
</head>
<body>
    <div class="saved-words-container">
        <h1>Zapisane Słowa</h1>
        <ul class="words-list">
            {% for word in words %}
                <li>
                    <span>{{ word.polish }} - {{ word.english }}</span>
                    <button onclick="deleteWord('{{ word._id }}')">Usuń</button>
                </li>
            {% else %}
                <li class="empty-message">Brak zapisanych słów</li>
            {% endfor %}
        </ul>
        <a href="#" onclick="startSavedWordsQuiz()" class="quiz-button">Quiz z zapisanych słów</a>
        <a href="{{ url_for('home') }}" class="back-button">Powrót</a>
    </div>
</body>
</html>